.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include breakpoint {
    flex-direction: row;
  }
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include breakpoint {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
}

.theme.col-1 {
  background-color: $base-color4;
}

.theme.col-2 {
  background-color: $base-color5;
}

.theme.col-3 {
  background-color: #deb2ee;
}

.theme.col-4 {
  background-color: #7ee6fd;
}

.theme.col-5 {
  background-color: #88d9a0;
}

.theme.col-6 {
  background-color: #4da2bb;
}

.theme.col-7 {
  background-color: #ec9fa3;
}

.theme.col-8 {
  background-color: #fd9f85;
}

.theme.col-9 {
  background-color: $base-color7;
}

.theme.col-10 {
  background-color: $base-color6;
}

.theme.col-11 {
  background-color: $base-color3;
}

.theme.col-12 {
  background-color: #80e8d1;
}

.card {
  flex-basis: 100%;
}

.centered {
  @include breakpoint {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

[class^="col"] + [class^="col"] {
  @include breakpoint {
    margin-left: 10px;
  }
}

.col-1 {
  @include breakpoint {
    flex-basis: 8.33%;
  }
}

.col-2 {
  @include breakpoint {
    flex-basis: 16.67%;
  }
}

.col-3 {
  @include breakpoint {
    flex-basis: 25%;
  }
}

.col-4 {
  @include breakpoint {
    flex-basis: 33.33%;
  }
}

.col-5 {
  @include breakpoint {
    flex-basis: 41.67%;
  }
}

.col-6 {
  @include breakpoint {
    flex-basis: 50%;
  }
}

.col-7 {
  @include breakpoint {
    flex-basis: 58.33%;
  }
}

.col-8 {
  @include breakpoint {
    flex-basis: 66.67%;
  }
}

.col-9 {
  @include breakpoint {
    flex-basis: 75%;
  }
}

.col-10 {
  @include breakpoint {
    flex-basis: 83.33%;
  }
}

.col-11 {
  @include breakpoint {
    flex-basis: 91.67%;
  }
}

.col-12 {
  @include breakpoint {
    flex-basis: 100%;
  }
}
